{block content}

<section class="item__edit">
    <a n:href="StudyPlan:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nový studijní plán
        </h1>
        {control editStudyPlanForm}
    </section>
</section>