{block content}

<section class="item__edit">
    <a n:href="Semester:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nový semester
        </h1>
        {control editSemesterForm}
    </section>
</section>