<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}IDAS2</title>

	<link rel="stylesheet" href="{$basePath}/css/index.css" />
</head>

<body>
	{include menu.latte}

	<div class="content">
		<div n:foreach="$flashes as $flash" n:class="block, flash, $flash->type">{$flash->message}</div>
		{include content}
	</div>

	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/index.js"></script>
	{/block}

	{ifset customScripts}
		{include customScripts}
	{/ifset}
</body>
</html>
