{block menu}
<nav n:inner-foreach="$menuItems as $item => $link" class="menu">
    <a n:href="{$link}" class="menu__link{$presenter->isLinkCurrent($link) ? " menu__link--active" : ""}">
        <span class="menu__link--inner">
            {$item}
        </span>
    </a>
</nav>