{block menu}
<nav n:inner-foreach="$menuItems as $key => $link" class="menu">
    <a {if isset($link[2])}href="{plink $link[0] $link[2]}"{else}href="{plink $link[0]}"{/if} class="menu__link{($presenter->isLinkCurrent($link[0]) || in_array($presenter->getName(), $link[1])) ? " menu__link--active" : ""}">
        <span class="menu__link--inner">
            {$key}
        </span>
    </a>
</nav>