{block content}

<section class="item__edit">
    <a n:href="StudyField:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nový obor
        </h1>
        {control editStudyFieldForm}
    </section>
</section>