{block content}

<section class="item__edit">
    <a n:href="CompletionType:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nový<br />způsob zakončení
        </h1>
        {control editCompletionTypeForm}
    </section>
</section>