{block content}

<section class="item__list">
    <header class="item__list__header">
        <h1 n:block="title" class="item__list__title">
            Způsoby zakončení ({count($completionTypes)})
        </h1>

        {control tabMenu, $tabs}
    </header>

    {control table, $completionTypes, $isAdmin, ['zkratka', 'Zkratka'], ['nazev', 'Název']}
</section>