parameters:

application:
	errorPresenter: Error
	catchExceptions: true
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	authenticator: App\Model\UserModel
	category: App\Model\CategoryModel
	completionType: App\Model\CompletionTypeModel
	courseType: App\Model\CourseTypeModel
	department: App\Model\DepartmentModel
	faculty: App\Model\FacultyModel
	role: App\Model\RoleModel
	room: App\Model\RoomModel
	studyField: App\Model\StudyFieldModel
	subject: App\Model\SubjectModel
	teacher: App\Model\TeacherModel
	teachingForm: App\Model\TeachingFormModel

database:
    dsn: 'oci:dbname=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=fei-sql1.upceucebny.cz)(PORT=1521))(CONNECT_DATA=(SID=IDAS12)))'
    user: C##
    password: