parameters:
    ociLogin:
        connection: '(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = fei-sql1.upceucebny.cz)(PORT = 1521)) (CONNECT_DATA = (SID = IDAS12)))'
        user: C##
        password:

application:
	errorPresenter: Error
	catchExceptions: true
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	authenticator: App\Model\UserModel
	category: App\Model\CategoryModel
	completionType: App\Model\CompletionTypeModel
	courseType: App\Model\CourseTypeModel
	courseTypeInPlan: App\Model\CourseTypeInPlanModel
	department: App\Model\DepartmentModel
	faculty: App\Model\FacultyModel
	image: App\Model\ImageModel
	import: App\Model\ImportModel
	obligation: App\Model\ObligationModel
	ociLoginProvider: App\Model\OciLoginProvider ( %ociLogin% )
	role: App\Model\RoleModel
	room: App\Model\RoomModel
	semester: App\Model\SemesterModel
	schedule: App\Model\ScheduleModel
	studyField: App\Model\StudyFieldModel
	studyPlan: App\Model\StudyPlanModel
	subject: App\Model\SubjectModel
	subjectInPlan: App\Model\SubjectInPlanModel
	teacher: App\Model\TeacherModel
	teaching: App\Model\TeachingModel
	teachingForm: App\Model\TeachingFormModel

database:
    dsn: 'oci:dbname=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=fei-sql1.upceucebny.cz)(PORT=1521))(CONNECT_DATA=(SID=IDAS12)))'
    user: C##
    password: