{block content}

<section class="item__edit">
    <section class="block">
        <h1 class="form__title">
            Úprava katedry
        </h1>
        {control editDepartmentForm}
    </section>
</section>