{block content}

<section class="item__edit">
    <a n:href="Department:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 class="form__title">
            Úprava katedry
        </h1>
        {control editDepartmentForm}
    </section>
</section>