{block content}
<header class="item__list__header">
    <section class="item__edit">
        <section class="block">
            <h1 class="form__title">
                Import učitelů <br>(vyplňte mapování sloupců)
            </h1>
            {control importTeachersForm}
        </section>
    </section>
</header>

{/block}

{block customScripts}

<script src="{$basePath}/js/importTeacher.js"></script>