{block content}

<section class="item__edit">
    <a n:href="Teaching:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nové učení předmětu
        </h1>
        {control editTeachingForm}
    </section>
</section>