{block content}

<section class="item__edit">
    <a n:href="CourseTypeInField:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Úprava způsobu výuky předmětu
        </h1>
        {control editCourseTypeInFieldForm}
    </section>
</section>