{block content}

<section class="item__edit">
    <a n:href="Category:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nová kategorie
        </h1>
        {control editCategoryForm}
    </section>
</section>