{block content}

<section class="item__list">
    <header class="item__list__header">
        <h1 n:block="title" class="item__list__title">
            Můj úvazek ({$hours} hodin)
        </h1>

        {control tabMenu, $tabs}
    </header>

    {control table, $obligations, false, ['predmet', 'Předmět'], ['role', 'Role'], ['hodiny', 'Počet hodin']}
</section>