{if empty($items['area'])}
    <div class="schedule--empty">
        Nenalezeny žádné rozvrhové akce.
    </div>
{else}
<section class="schedule--outer">
    <div class="schedule">
        <div n:foreach="range($items['xMin'], $items['xMax']) as $hour" class="schedule__line--vertical" style="grid-column: {$hour + 2 - $items['xMin']}"></div>
        <div n:foreach="$items['daysY'] as $day" class="schedule__line--horizontal" style="grid-row: {$day['yMin']}; grid-column: 1 / {3 + $items['xMax'] - $items['xMin']}"></div>
        <div n:foreach="range($items['xMin'], $items['xMax']) as $hour" style="grid-column: {$hour + 2 - $items['xMin']}; grid-row: 1" class="schedule__hour__title">
            {$hour}
        </div>
        <div n:foreach="$items['daysY'] as $key => $day" style="grid-column: 1; grid-row: {$day['yMin']} / {$day['yMax']}" class="schedule__day__title">
            {$getDayNameByIndex($day['index'])|truncate:2:''}
        </div>
        <div
                n:foreach="$items['area'] as $item"
                n:class="
                    schedule__action,
                    'schedule__action--' . strtolower($item['data']['zpusob_vyuky'][0]),
                    $item['data']['datum'] ? 'schedule__action--unique',
                    !$item['data']['schvaleno'] ? 'schedule__action--unapproved'
                "
                style="grid-column: {$item['xMin'] - $items['xMin']} / {$item['xMax'] - $items['xMin']}; grid-row: {$item['y']}">
            <span class="schedule__action--left"> ◄ {$item['data']['zacatek']}.00</span>
            <span class="schedule__action--right">{$item['data']['zacatek'] + $item['data']['pocet_hodin']}.00 ►</span>
            <br style="clear: both"/>
            {$item['data']['predmet']}<br />
            {$item['data']['mistnost']}<br />
            {$item['data']['ucitel']|replaceRE:'/.* /':''}<br />
            {$item['data']['datum']}

            <div class="schedule__action--inner">
                {$item['data']['predmet']} ({$item['data']['zpusob_vyuky']})<br />
                🏢 Místnost: {$item['data']['mistnost']}<br />
                👤 Vyučující: {$item['data']['ucitel']}<br />
                🕑 Probíhá: {($item['data']['datum'] ? $item['data']['datum'] : $getDayNameByIndex($item['data']['den_v_tydnu']))}, {$item['data']['zacatek']}-{$item['data']['zacatek'] + $item['data']['pocet_hodin']} h<br />
                Semestr: {$item['data']['semestr']}<br />
                Obsazenost: {$item['data']['predmet_kapacita']} / {$item['data']['mistnost_kapacita']}<br />
                {if $isAdmin || ($teacherId == $item['data']['ucitel_id'] && $item['data']['schvaleno'] == 0)}
                    <a href="{plink $handleEdit $item['data']['id']}">Upravit</a> | <a href="{plink $handleDelete $item['data']['id']}">Odstranit</a>
                {/if}
            </div>
        </div>
    </div>
</section>
{/if}


<a n:if="$isAddVisible" href={plink $handleAdd} class="button button--large button--add">+</a>