{block content}

<section class="item__edit">
    <a n:href="Schedule:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nová rozvrhová akce
        </h1>
        {control editScheduleForm}
    </section>
</section>