{block content}

<section class="item__list">
    <header class="item__list__header">
        <h1 n:block="title" class="item__list__title">
            Rozvrh ({count($scheduleActions)} akcí, {$hoursSum} hodin)
        </h1>

        {control tabMenu, $tabs}
    </header>

    <section class="table--outer">
        <div class="item__list__filter block">
            {control filterScheduleForm}
        </div>
    </section>

    {control schedule, $scheduleActions, false}
</section>