{block content}

<section class="item__list">
    <header class="item__list__header">
        <h1 n:block="title" class="item__list__title">
            Rozvrhové akce ({count($scheduleActions)})
        </h1>

        {control tabMenu, $tabs}
    </header>

    {control table, $scheduleActions, $isAdmin, ['den_v_tydnu', 'Den', $getDayNameByIndex], ['zacatek', 'Čas', $formatInterval], ['zpusob_vyuky', 'Typ'], ['ucitel', 'Vyučující'], ['mistnost', 'Místnost']}
</section>