{block content}

<section class="item__edit">
    <a n:href="SubjectInField:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nový předmět v oboru
        </h1>
        {control editSubjectInFieldForm}
    </section>
</section>