{block content}

<section class="item__edit">
    <a n:href="TeachingForm:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Úprava formy výuky
        </h1>
        {control editTeachingFormForm}
    </section>
</section>