{block content}

<section class="item__edit">
    <a n:href="Faculty:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nová fakulta
        </h1>
        {control editFacultyForm}
    </section>
</section>