{block content}

<section class="item__edit">
    <section class="block">
        <h1 class="form__title">
            Nová fakulta
        </h1>
        {control editFacultyForm}
    </section>
</section>