{block content}
<section class="login">
    <section class="login--inner block">
        <h1 class="form__title">
            Login
        </h1>
        {control signInForm}
    </section>
</section>