{block content}

<section class="item__edit">
    <a n:href="Teacher:" class="button button--large button--back">&larr;</a>
    <section class="block">
        <h1 n:block="title" class="form__title">
            Nový učitel
        </h1>
        {control editTeacherForm}
    </section>
</section>