{block content}

<section class="item__list">
    <header class="item__list__header">
        <h1 n:block="title" class="item__list__title">
            Učitelé ({count($teachers)})
        </h1>

        {control tabMenu, $tabs}
    </header>

    {control tableImage, $teachers, $isAdmin, 'obrazek_id', ['dlouhe_jmeno', 'Celé jméno'], ['telefon', 'Telefon'],
    ['mobil', 'Mobil'], ['kontaktni_email', 'Kontaktní e-mail'], ['katedra', 'Katedra']}
</section>